<div class="container">
  <div class="hello-container">
    <h1 class="hello-text">hello</h1>
  </div>
  <div class="name-container">
    <div class="text-container">
      <p>I am</p>
      <h1 class="gradient-text">M. Achuothan</h1>
      <h2>software Engineer</h2>
      <div class="divider"></div>
      <p class="about-me">Passionate about crafting seamless digital experiences with Angular, I blend clean
        architecture with purposeful design to bring ideas to life. Driven by curiosity and precision, I aim to shape
        the web with code that’s both elegant and impactful.</p>
      <div class="mail contact-flex">
        <span class="material-symbols-outlined">mail</span>
        <a href="mailto:achuothan.marimuhtu@gmail.com">achuothan.marimuhtu&#64;gmail.com</a>
      </div>
      <div class="phone contact-flex">
        <span class="material-symbols-outlined">call</span>
        <a href="tel:+919443617963">+91 9443617963</a>
      </div>

      <div class="linkedin contact-flex">
        <img src="assets/InBug-Black.png" alt="in">
        <a target="_blank" href="https://www.linkedin.com/in/achuothan-m/">Achuothan M</a>
      </div>

      <div class="github contact-flex">
        <img src="assets/github-logo.png" alt="git">
        <a target="_blank" href="https://github.com/1SordFish1">Achuothan</a>
      </div>
    </div>
    <img id="my-image" src="assets/my-port.jpg" alt="">
  </div>

  <div class="exp-data">
    <div class="experiences">
      <h2>Work History</h2>
      <div class="divider"></div>
      <div class="job-title">
        <h3>Centizen Inc. | Software Engineer</h3>
        <h3>Feb 2023 - June 2025</h3>
      </div>
      <div class="work">
        <img src="assets/star-bullet.png" alt="">
        <p><span>JavaScript, TypeScript, Angular, RxJS:</span> Developed and optimized dynamic, component-based
          ecommerce
          features, enhancing performance and user engagement.</p>
      </div>
      <div class="work">
        <img src="assets/star-bullet.png" alt="">
        <p><span>HTML, CSS/SCSS:</span> Created responsive, pixel-perfect UIs, improving customer satisfaction and
          mobile usability.</p>
      </div>
      <div class="work">
        <img src="assets/star-bullet.png" alt="">
        <p><span>Jest, Unit Testing:</span> Ensured code reliability and reduced bugs in production by implementing
          thorough unit testing strategies.</p>
      </div>
      <div class="work">
        <img src="assets/star-bullet.png" alt="">
        <p><span>GitLab, VS Code, Sourcetree:</span> Maintained clean codebases through efficient version control and
          collaborative workflows, accelerating delivery timelines.Drove business decisions, reduced operational
          costsCollaborated on A/B tests, increased click-through</p>
      </div>
    </div>
    <div class="exp-border"></div>
    <div class="education">
      <h2>Education</h2>
      <div class="divider"></div>
      <div class="job-title">
        <h3>Mepco Schlenk Engineering College | Sivakasi</h3>
        <h3>2019 - 2023</h3>
      </div>
      <p>Electrical and Electronics Engineering, Bachelor of Engineer</p>
      <h2>Skills</h2>
      <div class="divider"></div>
      <div class="skill set">
        @for (skill of mySkills; track $index) {
          <span>{{skill}}</span>
        }
      </div>
      <h2>Tools</h2>
      <div class="divider"></div>
      <div class="tools set">
        @for (item of myTools; track $index) {
          <div class="tool">
            <img src="{{item.image}}" alt="">
            <span>{{item.name}}</span>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="author">
    <p>Designed by Achuothan M</p>
  </div>
</div>