.container {
  padding: 0;
}

.hello-container {
  position: relative;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  overflow: hidden;
}

.hello-text {
  margin: 0;
  color: white;
  height: 100vh;
  font-size: 27rem;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.name-container {
  display: flex;
  margin-bottom: 10vh;
}

.divider {
  width: 100%;
  border-bottom: 2px solid black;
}

.text-container {
  flex: 1 1 60%;
  padding-inline: 5vw;

  h1 {
    font-size: 5rem;
    text-align: left;
    margin: 0px;
  }

  p {
    font-size: 1.4rem;
    margin-top: 10vh;
    margin-bottom: 0vh;
  }

  .about-me {
    margin-top: 10vh;
    margin-bottom: 5vh;
  }

  h2 {
    color: #c2c2c2;
    font-size: 3rem;
    margin-top: 1vh;
    margin-bottom: 5vh;
  }

  a {
    color: black;
    font-size: 1.1rem;
  }

  .contact-flex {
    margin-block: 2.5vh;
    display: flex;
    gap: 2vw;
  }
}

#my-image {
  flex: 1 1 40%;
  object-fit: contain;
  width: 40vw;
}

.linkedin {
  img {
    object-fit: contain;
    width: 25px;
  }
}

.github {
  img {
    object-fit: contain;
    width: 25px;
  }
}

.gradient-text {
  color: transparent;
  background-size: 200%;
  background-image: linear-gradient(45deg, rgba(110, 250, 145, 1) 0%, rgba(108, 185, 240, 1) 25%, rgba(233, 101, 240, 1) 50%, rgba(108, 185, 240, 1) 75%, rgba(110, 250, 145, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.exp-data {
  display: flex;

  h2 {
    color: #7a7a7a;
  }
}

.experiences {
  flex: 1 1 50%;
  padding-inline: 5vw;
}

.exp-border {
  margin-top: 13vh;
  height: 25rem;
  border-right: 2px solid #c2c2c2;
}

.education {
  flex: 1 1 50%;
  padding-inline: 5vw;

  p {
    margin-top: 0rem;
    margin-bottom: 3rem;
  }
}

.job-title {
  display: flex;
  justify-content: space-between;
}

.work {
  display: flex;
  align-items: flex-start;
  gap: 1vw;
  margin-block: 1rem;

  img {
    object-fit: contain;
    width: 25px;
  }

  p {
    margin: 0;
  }

  span {
    color: #f06c6c;
    font-weight: 500;
  }
}

.set {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}

.skill {
  span {
    height: 20px;
    padding: 5px 10px;
    width: fit-content;
    color: white;
    background: linear-gradient(45deg, rgba(110, 250, 145, 1) 0%, rgba(108, 185, 240, 1) 50%, rgba(233, 101, 240, 1) 100%);
    border-radius: 20px;
  }
}

.tool {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  border: 2px solid black;
  padding: 5px 10px;
  height: 30px;
  border-radius: 30px;

  img {
    object-fit: contain;
    width: 30px;
  }
}

.author {
  color: #e965f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (width <=600px) {
  .name-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  #my-image {
    width: 80vw;
  }

  .hello-container {
    height: 130vh;
  }

  .hello-text {
    font-size: 10rem;
    margin-top: 30vh;
    height: auto;
  }

  .job-title {
    display: block;
  }

  .exp-data {
    flex-direction: column-reverse;
  }

  .exp-border {
    display: none;
  }
}